<div class="container">
  <div class="aboutContainer">
    <h2>
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >About Me</span
      >
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      This section covers my professional experience,
       current projects, and technical skills, emphasizing my expertise in programming and technology.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-right"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          Get to know me!
        </h3>
        <div class="aboutContentDetails">
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
          I am a proficient Java Full-Stack Web Developer with a focus on designing and implementing scalable web applications. My technical skill set includes advanced knowledge of Java, Spring Boot, and Angular. I am adept at writing efficient code, optimizing system performance, and integrating front-end and back-end technologies seamlessly. My expertise extends to solving complex technical problems and collaborating effectively with cross-functional teams to deliver cutting-edge solutions. I am dedicated to applying my skills to drive innovation and tackle challenging projects in Full Stack development.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
          I regularly share web development and programming insights to benefit the developer community. Connect with me on <br/>
            <a
              rel="noreferrer"
              href="https://www.linkedin.com/in/pankaj-kumar00000007/"
              target="_blank"
              >Linkedin</a
            >
            for updates and in-depth content on the latest practices and advancements in the field.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-left"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
          I am seeking <strong>opportunities</strong> to leverage my skills and experience in a role that offers growth and learning. If you have a position that aligns with my background, please <strong>contact</strong> me.
            
          </p>
        </div>
        <div
          class="btn"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <button mat-raised-button (click)="redirectToContct()">
            Contact
          </button>
        </div>
      </div>
      <div class="aboutContentSkills">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          My Skills
        </h3>
        <div
          class="skills"
          data-aos="fade-up-left"
          data-aos-delay="180"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/html.png"
              id="html"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/css.png"
              id="css"
            />
          </div>
          <div class="skillsIcon">
            <img
            class="imgResponsive"
            src="../assets/skills/js.png"
            id="js"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/scss.webp"
              alt="scss"
              id="scss"
            />
          </div>
          <div class="skillsIcon">
            <!-- <img class="imgResponsive" src="../assets/skills/Java.jpg" /> -->
            <img class="imgResponsive" src="../assets/skills/Java.jpg" />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/bootstrap.png"
              id="bootstrap"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/spring-boot.png"
              id="spring boot"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/angular.png"
              id="angular"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/github.png"
              id="github"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/TypeScript.png"
              id="TypeScript"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/sql.png"
              id="SQL"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/oracle.png"
              id="SQL"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/Postgresql.png"
              id="postgres"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/thymeleaf.png"
              id="grafana"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/tailwindcss.png"
              id="redis"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/figma.png"
              id="docker"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/postman.png"
              id="outsystem"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../assets/skills/material.png"
              id="outsystem"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
