<div class="container">
  <footer>
    <div class="footerContainer">
      <div
        class="row"
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        <div>
          <div class="social-icons">
            <div class="button">
              <div class="icon">
                <a href="mailto:singhpankaj5756@gmail.com"
                  ><i class="bx bxl-gmail"></i
                ></a>
              </div>
            </div>
            <div class="button">
              <div class="icon">
                <a
                  ><i class="bx bxl-linkedin" (click)="redirectToLinkdin()"></i
                ></a>
              </div>
            </div>
            <div class="button">
              <div class="icon">
                <a href=""
                  ><i
                    class="bx bxl-whatsapp"
                    (click)="redirectToInsta()"
                  ></i
                ></a>
              </div>
            </div>
            <div class="button">
              <div class="icon">
                <a href=""
                  ><i class="bx bxl-github" (click)="redirectToGithub()"></i
                ></a>
              </div>
            </div>
            <div class="button">
              <div class="icon">
                <a href=""
                  >
                  <img src="../assets/img/nokari.jfif" style="width: 60px; height: 60px;" alt="Nokari.com" (click)="redirectToNokari()">
                  <!-- <i class="bx bxl-git" ></i
                > -->
              </a>
              </div>
            </div>
           
          </div>
          <mat-divider class="divider"></mat-divider>
          <div class="page-scroll">
            <a
              id="to-top" 
              class="page-scroll"
              (click)="scrollToTopWithDelay(500)"
            >
              <img
                id="rocket"
                src="../assets/img/rocket.png"
                matTooltip="Lift me up, rocketty"
                [matTooltipPosition]="tooltipPosition"
                [matTooltipShowDelay]="300"
                [matTooltipHideDelay]="300"
              />
            </a>
          </div>
          <mat-divider></mat-divider>
          <div class="copyright">
            <p>&COPY; PANKAJ KUMAR 2024.</p> 
            <a href="mailto:singhpankaj5756@gmail.com" class="mail">singhpankaj5756@gmail.com</a>
            <P>Lower, Parel, Mumbai, Maharashtra 400013</P>
            <mat-divider class="divider"></mat-divider>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
