<div class="container">
  <div class="homeContainer">
    <!-- <div class="socialIcons" *ngIf="isMobile">
      <div class="button fbBtn">
        <div class="icon">
          <i class="bx bxl-gmail" (click)="redirectToNokari()"></i>
        </div>
        <span>Email</span>
      </div>
      <div class="button linBtn">
        <div class="icon" (click)="redirectToLinkdin()">
          <i class="bx bxl-linkedin"></i> 
        </div>
        <span>Linkedin</span>
      </div>
      <div class="button instaBtn">
        <div class="icon">
          <i class="bx bxl-whatsapp" (click)="redirectToInsta()"></i>
        </div>
        <span>whatsapp</span>
      </div>
      <div class="button gitBtn">
        <div class="icon">
          <i class="bx bxl-github" (click)="redirectToGithub()"></i>
        </div>
        <span>Github</span>
      </div>
      
    </div> -->
    <div class="homeContent">
      
      <h4
        class="name"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Hey, I am PANKAJ KUMAR
      </h4>
      <h1>I am : </h1>
      <div class="info">
        <p>
          I'm a skilled web developer specializing in full-stack development,
           from intuitive UI design to efficient back-end solutions.
            I excel at creating responsive, high-performance web applications 
            that provide exceptional user experiences. Explore 
          my projects to see how I can turn your ideas into reality with innovative, cutting-edge solutions.
        </p>
      </div>
      <div class="btn">
        <button (click)="redirectToResume()"><span></span>DOWNLOAD CV</button>
      </div>
    </div>
    <!-- <div class="email" *ngIf="isMobile">
      <a href="mailto:jondoa@gmail.com">pankaj</a>
    </div> -->
    <div class="scrollDown" (click)="redirectToAbout()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
